@{
    ViewBag.Title = "Seguros Falabella";
}
<div>
    <img src="~/Images/Logo.PNG" />

    <div class="panel-primary jumbotron col-md-12">
        <div class="panel-heading col-md-offset-2 col-md-8 panel-heading">
            Bienvenido a la plataforma de administración de Seguros Falabella, aquí encontrará lo necesario para administrar
            las compañías aseguradoras aliadas, así como sus productos disponibles y los clientes registrados.
        </div>
        <div class="panel-body col-md-offset-3 col-md-8">
            <h3><b>Seleccione la acción que desea realizar</b></h3>
            <br />
            <h4 class="col-md-offset-2">Acciones de inserción</h4>

            <div class="row">
                <a href="/SegurosFalabella/InsCompany" class="btn btn-primary">Agregar una compañía</a>
                <a href="/SegurosFalabella/InsProduct" class="btn btn-primary">Agregar productos</a>
                <a href="/SegurosFalabella/InsClient" class="btn btn-primary">Agregar clientes</a>
            </div>

            <br />
            <h4 class="col-md-offset-2">Acciones de visualización</h4>
            <div class="row">
                <a href="/SegurosFalabella/GetCompanies" class="btn btn-primary">Ver compañías aliadas</a>
                <a href="/SegurosFalabella/GetProducts" class="btn btn-primary">Ver productos</a>
                <a href="/SegurosFalabella/GetClients" class="btn btn-primary">Ver clientes</a>
            </div>
        </div>
    </div>
</div>